<div style="display: flex;height: 700px;justify-content: center;align-items: center;">
  <div class="main-container">
    <div class="selection-cont">
      <select #c1 name="" id="country1" (mouseleave)="changebase(c1.value)">
        <option value="USD">USD-DOLLAR</option>
        <option value="INR">INDIAN-RUPEE</option>
        <option value="EUR">EURO</option>
      </select>
      <p>to</p>
      <select #c2 name="" id="country2" (mouseleave)="changebase2(c2.value)">
        <option value="USD">USD-DOLLAR</option>
        <option value="INR">INDIAN-RUPEE</option>
        <option value="EUR">EURO</option>
      </select>
  
    </div>
    <div class="result-container">
      <p>
        <input type="text" id="p1" >{{base}};
        <script> 
        export var age = document.getElementById("p1").value;
        console.log(age);
        document.write(age);
        </script>
      </p>
      <button (click)="convert()">Submit</button>
      <p>=</p>
      <p>{{result}} {{cont2}}</p>
    </div>
  </div>
</div>